.central_image {
  width: 60vw;
}
.align_title__image {
  position: absolute;
}
.container_buttons {
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
